.jumbotron {
    background-color:darkgray;
    color: red;
    border: solid 3px;
    border-color: red;
    margin-top: 10px;
    
}

body {
   background: black;
}

.container-instructions {
    color: white;
   
}


